* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#stringToRemove, #fileInput, #cleanBtn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

#cleanBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#cleanBtn:hover {
    background-color: #0056b3;
}

#createdFilesList {
    margin-top: 20px;
}

.file-item {
    background-color: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
